/* ---------------- CSS Reset Rules ----------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

button {
	font-family: inherit;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* ------------------ Background ---------------------- */

html {
  height: 100%;
}

body {
  max-width: 720px;
  margin: 25px auto auto;
	padding: 20px;
  text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 16px;
	line-height: 1;
}

/* -------------------- Header ---------------------- */
header {
	padding: 5px;
  user-select: none;
}

.logo {
  text-align: left;
	font-family: 'Bowlby One SC', cursive;
	font-size: 40px;
}
@media only screen and (min-width: 420px) {
	.logo {
		font-size: 48px;
	}
}
@media only screen and (min-width: 620px) {
	.logo {
		font-size: 56px;
	}
}

.game-stats {
  display: flex;
	font-size: 20px;
}
@media only screen and (min-width: 420px) {
	.game-stats {
		font-size: 24px;
	}
}
@media only screen and (min-width: 620px) {
	.game-stats {
		font-size: 28px;
	}
}

.moves-label, .timer-label {
	display: none;
}
@media only screen and (min-width: 420px) {
	.moves-label, .timer-label {
		display: inline-block;
	}
}

.timer {
  margin-left: 20px;
}

.stars {
  margin-left: auto;
}

.star-disabled {
  opacity: 0.1;
}

/* ------------------ Cards Board --------------------- */
.cards-board {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.cards-board-disabled {
  pointer-events: none;
}

.cards-board-blurred {
  filter: blur(15px);
}

/* ---------------------- Card ------------------------ */
.card {
  margin: 5px;
  width: calc(25% - 10px);
  padding-bottom: calc(25% - 10px);
  border-radius: 5px;
  position: relative;
  transition: all 0.3s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  transform: rotateY(180deg);
  background-color: lightgray;
	z-index: 2;
}

.card-back {
  background-color: gray;
	border: 5px solid lightgray;
}

.card-front .card-symbol {
	color: white;
}

.card-back .card-symbol {
	opacity: 0.2;
}

.card-symbol {
	font-size: 32px;
}
@media only screen and (min-width: 420px) {
	.card-symbol {
		font-size: 48px;
	}
}
@media only screen and (min-width: 620px) {
	.card-symbol {
		font-size: 72px;
	}
}

.card-flipped {
  transform: rotateY(180deg);
  pointer-events: none;
}

.card-matched {
  pointer-events: none;
}

/* ------------------- Reset Button ------------------- */
.reset-game {
	opacity: 0;
	font-size: 16px;
	color: white;
	background-color: gray;
	padding: 6px;
	margin-top: 5px;
	border: none;
  border-radius: 5px;
  pointer-events: none;
  transition: opacity 0.3s;
}
@media only screen and (min-width: 420px) {
	.reset-game {
		font-size: 20px;
	}
}
@media only screen and (min-width: 620px) {
	.reset-game {
		font-size: 24px;
		padding: 10px;
	}
}

.reset-game-enabled {
  opacity: 0.6;
  pointer-events: auto;
}

/* ----------------- Completion Screen ---------------- */
.completion-screen {
  position: absolute;
  width: 80%;
  max-width: 500px;
  top: -400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  transition: top 0.5s;
}

.completion-screen-enabled {
  top: 200px;
}

.completion-title {
	font-family: 'Bowlby One SC', cursive;
	font-size: 16px;
}
@media only screen and (min-width: 420px) {
	.completion-title {
		font-size: 22px;
	}
}
@media only screen and (min-width: 520px) {
	.completion-title {
		font-size: 28px;
	}
}
@media only screen and (min-width: 620px) {
	.completion-title {
		font-size: 34px;
	}
}

.completion-stars, .completion-message {
	font-size: 10px;
	color: gray;
}
@media only screen and (min-width: 420px) {
	.completion-stars, .completion-message {
		font-size: 16px;
	}
}
@media only screen and (min-width: 520px) {
	.completion-stars, .completion-message {
		font-size: 22px;
	}
}
@media only screen and (min-width: 620px) {
	.completion-stars, .completion-message {
		font-size: 28px;
	}
}

.completion-stars {
	margin: 10px auto;
}

.completion-message {
	background-color: lightgray;
	border-radius: 10px;
	padding: 10px;
}
